html,body{
margin:0 auto;
padding:0;
}
.block{
	width:100%;
	float: left;
	height:60px;

}
.contanier{
	width:1000px;
	margin:0 auto;
	background-color:white;
	

}

.alert-info{
	width:100%;
	padding-top:20px;
	padding-bottom: 20px;
	background-color: #ebfff3;
	display: flex;
	justify-content: center;
	align-items: center;
margin-top:40px;

}
.alert-info h1{
	color:#505050;
	font-size:18px;
float: left;
}
.alert-info img{
	width:35px;
	height: auto;
	margin-right:10px;

}
.siparis-info{
	background-color:;
	padding:5px 7px 5px 7px;
	position:absolute;
	top:0px;
	right:0px;
}
.siparis-info h1{
	display: inline;
	font-size:13px;
	color: white;
	text-align: center;
}
.order{
	width:90%;
	padding-top:20px;
	padding-bottom:20px;
	
	background-color: #efefef;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:5%;
	padding-left:5%;
 	margin-top:15px;
 	float: left;
 	position: relative;
}
.order p{
	font-size:15px;

}
.btnDetail{
	padding:7px 12px 7px 12px;
	font-size:17px;
	color:white;
	border: none;
	background-color: #c3bcb4;
transition:0.5s;
cursor: pointer;
}
.btnDetail:hover{
	opacity:0.5;
}
.head{
	padding-left:5%;
	padding-right:5%;
	width:90%;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#faf9f9;
	float: left;
	margin-top:15px;
	border: 1px solid #ededed;
}
.head h1{
	font-size:18px;
	color: #838383;
	letter-spacing:2px;
}
@media only screen and (max-width: 1001px){
	.contanier{
	width:100%;
	margin:0 auto;
	background-color:white;
	

}
.order{
	width:93%;
	margin-left:2.5%;
	padding-top:13px;
	padding-bottom:13px;
	
	background-color: #efefef;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:1%;
	padding-left:1%;
 	margin-top:15px;
 	float: left;
}
.order p{
	font-size:10px;
	padding-left:1px;
	padding-right:1px;

}
.btnDetail{
	padding:3px 7px 3px 7px;
	font-size:11px;
}
.siparis-info{
	background-color:;
	padding:5px 7px 5px 7px;
	position:absolute;
	top:0px;
	right:0px;
}
.siparis-info h1{
	display: inline;
	font-size:11px;
	color: white;
	text-align: center;
}
}